
<!-- all user posts search through -->
<div>
  <%= form_tag(posts_search_path, method: :get, remote: true) do %>
  <%= text_field_tag :highlight, params[:highlight], placeholder: 'find!' %>
  <%= submit_tag "Search"  %>
  <% end %> 
</div>





<div class = "col-md-12">
  <div class = 'appendtbl'>
      <table class ='table'>
        <thead>
          <tr>
            <th>Highlight</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |post| %>
            <tr>
              <td><%= link_to post.user.first_name, user_path(post.user.id) %></td>
              <td><%= post.highlight %></td>
              <td><%= post.created_at.to_date %></td>
              <td><button>complie</button></td>
              <!-- if compiled, then save to my page  -->
            </tr>
          <% end %>
        </tbody>
      </table><br>
  </div>
</div>


<%= render 'vid', post: @post %>


<!-- second news column -->


<div>
  

</div>



<!-- <#%= link_to 'New Post', new_post_path %> -->
