<!DOCTYPE html>
<html>
  <head>
    <title>Startupvid</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jquery library-ajax; see bitly -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
      <!-- Bootstrap: Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Bootstrap: Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- to do list sortable -->
  <script src="jquery.sortable.js"></script>
  </head>


  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Noteworthy</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'New Post', new_post_path if signed_in? %></li>
           <!--  <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li> -->
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
             <!--  <%#= form_tag ('/posts/search'), {method: :get} do  %>
               <%#= text_field_tag :highlight,'', class: 'form-control', placeholder: "Search" %>
              <#% end %>  -->
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'All Posts', posts_path %></li>
            <li><%= link_to 'my page', user_path(current_user) if signed_in? %></li>
            <li><%= link_to 'all users', users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign in<span class="caret"></span></a>
              <ul class="dropdown-menu">
               <% if current_user == nil %>
                  <li><%= link_to 'Sign in', sign_in_path %></li>
                  <li><%= link_to "Sign up", new_user_path %></li>
                 <!--  <li role="separator" class="divider"></li> -->
                  <li><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
                 <% else %> 
                  <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
                 <% end %>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    session id? <%= session[:user_id] %>
<!--<%#= link_to 'New Post', new_post_path if signed_in? %>
  <%#= link_to 'all posts', posts_path if signed_in? %>

  <%#= link_to 'Sign in', sign_in_path %>
  <%#= link_to "Sign up", new_user_path %>
  <%#= link_to 'Sign out', sign_out_path, method: :delete%>
   <%#= link_to "Sign in with Facebook", "/auth/facebook" %>
 -->

   <% flash.each do |key, value| -%>
    <div id="flash_<%= key %>" class="<%= flash_class(key)%>">
      <%=h value %>
    </div>
   <% end %>

    <%= yield %>


    

  <!--   <h1> application html: </h1>
    <h3>landing page includes randomize youtube video writing your own startup journey compiler; what I read for the industry; on right side; </h3> -->
  </body>
</html>
