<!DOCTYPE html>
<html>
  <head>
    <title>Startupvid</title>
    <%= csrf_meta_tags %>

    

    <!-- jquery library-ajax; see bitly -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
      <!-- Bootstrap: Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Bootstrap: Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Libre+Baskerville" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Audiowide|Caveat|Gloria+Hallelujah|Julius+Sans+One|Libre+Barcode+39+Text|Lobster+Two|Pacifico|Patua+One|Quicksand|Sacramento|Satisfy|Shadows+Into+Light|Varela+Round" rel="stylesheet"> 
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>


  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <!--   <a class="navbar-brand" href="/">Noteworthy<i class="fa fa-telegram" aria-hidden="true"></i></a> -->
            <!-- <a class="navbar-brand barcodefont" href="/" style ="font-size: xx-large">Noteworthy</a> -->
        </div>



        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <a class="navbar-brand barcodefont" href="/" style ="font-size: xx-large">Noteworthy</a>
          </ul>
          <form class="navbar-form navbar-left">
            <div class="form-group">
            </div>
          </form>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'All Posts', posts_path %></li>
            <li><%= link_to 'New Post', new_post_path if signed_in? %></li>
            <li><%= link_to 'my page', user_path(current_user) if signed_in? %></li>
            <!-- <li><#%= link_to 'all users', users_path %></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign in<span class="caret"></span></a>
              <ul class="dropdown-menu a">
               <% if current_user == nil %>
                  <li class = "a"><%= link_to 'Sign in', sign_in_path %></li>
                  <li class = "a"><%= link_to "Sign up", new_user_path %></li>
                 <!--  <li role="separator" class="divider"></li> -->
                  <li class = "a"><%= link_to "Sign in with Facebook", "/auth/facebook" %></li>
                 <% else %> 
                  <li class = "a"><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
                 <% end %>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
   <!--  session id? <#%= session[:user_id] %> -->


   <% flash.each do |key, value| -%>
    <div id="flash_<%= key %>" class="<%= flash_class(key)%>">
      <%=h value %>
    </div>
   <% end %>

    <%= yield %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <div class = "col-md-12 textcenter"> Nov.2017 | Sophie Yang </div>
  </body>
</html>
